/* Fonts */



/* Variables */
:root {
	/* Colors*/
	--color-body-background-color: white;
	
	--color-link-filepath-link: #AAA;
	--color-link-filepath-hover: blue;
	--color-link-filepath-hover-inactive: #AAF;
	--color-link-filepath-active: #888;
	--color-link-filepath: var(--color-link-filepath-link);
	
	/* Metrics */
	--main-max-width: 800px;
	--main-vertical-margin: 50px;
	--main-horizontal-padding: 15px;
	
	--root-font-family: arial, sans-serif;
	--root-font-size: 11px;
	
	--body-font-family: var(--root-font-family);
	--body-font-size: var(--root-font-size);

	--gap-dividing: 2rem;

	--heading-margin-vertical: 0.5em;
	--h1-margin-vertical: var(--heading-margin-vertical);
	
	--img-border-width: 1px;

	--filepath-padding: 0.3em;
	--filepath-border-width: 1px;
	--filepath-link-hitbox: calc(var(--filepath-padding) + var(--filepath-border-width));
	
	font-family: var(--root-font-family);
	font-size: var(--root-font-size);
}

:target {
	--color-highlight: yellow;
}

/* Elements */
body {
	--color-background: var(--color-body-background-color);
	
	margin: 0px;
	background-color: var(--color-background);
}

main {
	max-width: var(--main-max-width);
	margin: var(--main-vertical-margin) auto;
	padding: 0 var(--main-horizontal-padding);
}

a {
	--color-link-link: blue;
	--color-link-hover: var(--color-link-link);
	--color-link-active: #888;
	--color-link-visited: var(--color-link-link);
	
	--color-link: var(--color-link-link);
	
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	--color-link: var(--color-link-hover);
	text-decoration: underline;
}

a:active {
	--color-link: var(--color-link-active);
}

a.silent, .path-info .anchor {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

a:not(.silent)[href*="//"]:after {
	display: inline;
	line-height: 0;
	content:" 🡥";
	vertical-align: middle;
}

.path-info {
	margin-top: calc(var(--filepath-padding) * -1);
}

.path-info .info {
	display: inline-block;
	position: relative;
	padding-right: var(--filepath-link-hitbox);
}

.filepath {
	padding: var(--filepath-padding);
	margin: 0px;
	display: inline;
	position: relative;
	
	font-weight: bold;
	white-space: normal;
	text-decoration: none;
	text-transform: lowercase;
	line-height: calc(1.5em + var(--filepath-padding));

	background-color: var(--color-background);
	color: var(--color-link-filepath);
	border: var(--filepath-border-width) dotted var(--color-link-filepath);
	border-radius: 2px/2px;	
	box-decoration-break: clone;
	
	cursor: default;
	
	/* box-shadow: 0.75px 1px var(--color-link-filepath); */;
}

.filepath *:not([href]) {
	color: var(--color-filepath);
	text-decoration: none;
}

.filepath a[href] {
	margin: calc(var(--filepath-link-hitbox) * -1) 0;
	padding: var(--filepath-border-width) 0;
	display: inline-block;
	
	color: var(--color-link-filepath);
	white-space: nowrap;
	text-decoration: none;
}

.filepath a[href]:first-of-type {
	padding-left: var(--filepath-link-hitbox);
	margin-left: calc(var(--filepath-link-hitbox) * -1);
}

.filepath a[href]:last-of-type {
	padding-right: calc(var(--filepath-link-hitbox) * 2);
	margin-right: calc(var(--filepath-link-hitbox) * -2);
}

.filepath a[href]:focus {
	outline: none;
}

.filepath a[href]:focus > *:not(.none) {
	text-decoration: underline;
}

.filepath a[href]:focus:hover > *:not(.none) {
	text-decoration-color: var(--color-link-filepath);
}

.filepath:not(:hover) a[href]:focus {
	color: var(--color-link-filepath-hover);
}

.path-info a.anchor:hover ~ .info .filepath a[href]:focus:not(:last-of-type) {
	color: inherit;	
}

.filepath a[href]:hover, 
.path-info a[href].anchor:hover ~ .info:first-of-type .filepath:first-of-type a[href]:last-of-type, 
.path-info a[href].anchor:focus ~ .info:first-of-type .filepath:first-of-type a[href]:last-of-type {
	color: var(--color-link-filepath-hover);
}

.filepath:hover, 
.filepath:focus-within,
.path-info a[href].anchor:hover ~ .info:first-of-type .filepath, 
.path-info a[href].anchor:focus ~ .info:first-of-type .filepath {
	--color-link-filepath: var(--color-link-filepath-hover-inactive);
	border-style: solid;
	z-index: 1;
}

.filepath.single:hover, 
.path-info a[href].anchor:hover ~ .info .filepath.single, 
.path-info a[href].anchor:focus ~ .info .filepath.single {
	--color-link-filepath: var(--color-link-filepath-hover);
}

.filepath:active:focus-within, .filepath a[href]:active {
	--color-link-filepath: var(--color-link-filepath-active);
	color: var(--color-link-filepath-active);
	border-color: var(--color-link-active);
}

.filepath a[href]:active:focus {
	color: inherit;
}

.filepath a[href^="file"]:first-of-type:before {
	display:inline;
	
	content:"🗁 ";
	text-decoration: none;
	white-space: nowrap;
	
	color: var(--color-link-filepath);
}

/*
.filepath a[href^="file"]:first-of-type {
	text-transform: uppercase;
}
*/

.info .filepath:empty:before {
	content: "n⁄a";
}

.path-info a.anchor ~ .info .filepath:empty {
	display: none;
}

.filepath a[href]:hover .none,
.filepath a[href]:focus .none {
	text-decoration: line-through;
}

.filepath .none {
	color: var(--color-link-filepath);
}

.path-info .anchor {
	--h1-margin-vertical: var(--filepath-padding);
	
	padding: var(--h1-margin-vertical) var(--filepath-padding) var(--h1-margin-vertical) 0;
	display: inline-block;
}

h1 {
	margin: 0 0 var(--h1-margin-vertical) 0;
	
	font-size: var(--body-font-size);
	font-weight: bold;
}

article, hgroup {
	margin-bottom: var(--gap-dividing);
}

hgroup h1 {
	--hroup-h1-scaleX: 1.25;
	
	max-width: calc(100% / var(--hroup-h1-scaleX));
	
	font-size: 17px;
	font-family: Franklin Gothic, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	
	transform: scaleX(var(--hroup-h1-scaleX));
	transform-origin: left;
}

p {
	--p-margin-vertical: 0.5em;
	
	margin: 0 0 var(--p-margin-vertical) 0;
	hyphens: auto;
}

.nowrap {
	white-space: nowrap;
}

.break-spaces {
	white-space: break-spaces;
}

.no-select {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

img {
	border: var(--img-border-width) solid black;
}

a[href] img {
	cursor: zoom-in;
}



/* Custom */
.creative-commons {
	--creative-commons-spacing: 0.1em;
	
	display: block;
	vertical-align: middle;
	margin-left: -0.1em;
	margin-right: -0.1em;
}

.creative-commons * {
	vertical-align: middle;
}

.creative-commons img {
	width: 1rem;
	padding: 0;
	margin: 0 var(--creative-commons-spacing);
	display: inline;
	
	border: none;
	cursor: text;
}

.creative-commons abbr {
	font-weight: bold;
}

.creative-commons img + abbr, .creative-commons abbr + img {
	margin-left: calc(var(--creative-commons-spacing) * 2);
}

.snippets {
	--snippets-column-gap: var(--gap-dividing);
	--snippets-max-width: calc(calc(var(--main-max-width) - var(--snippets-column-gap)) * 0.5);
	column-count: 2;
	column-gap: var(--snippets-column-gap);
	column-width: 200px;
}

.snippets > * {
	break-inside: avoid;
}

.thumbnails {
	--thumbnail-size: 50px;
	
	--thumbnail-span-small: 1;
	--thumbnail-span-normal: 3;
	--thumbnail-span-large: 6;
	--thumbnail-size-grid: calc(var(--thumbnail-size) / var(--thumbnail-span-normal));
	
	--thumbnail-grid-gap: calc(var(--img-border-width) * 2);
	--thumbnail-grid-gap-margin: 1px;
	
	margin-bottom: var(--gap-dividing);
	
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--thumbnail-size-grid));
	grid-template-rows: repeat(auto-fill, var(--thumbnail-size-grid));
	grid-auto-flow: row dense;
	grid-gap: calc(var(--thumbnail-grid-gap) + var(--thumbnail-grid-gap-margin));
	place-items: stretch stretch;
}

.thumbnails > * {
	--thumbnail-span: var(--thumbnail-span-normal);
	--thumbnail-size-span: calc(calc(var(--thumbnail-size-grid) * var(--thumbnail-span)) + calc(var(--thumbnail-grid-gap) * var(--thumbnail-span)));
	
	grid-column: span var(--thumbnail-span);
	grid-row: span var(--thumbnail-span);
	
	width: var(--thumbnail-size-span);
	height: var(--thumbnail-size-span);
}

.thumbnails > a:not([href]), .thumbnails > *[rating="1"] {
	--thumbnail-span: var(--thumbnail-span-small);
	
	width: 100%;
	height: 100%;
}

.thumbnails > *[rating="5"], .thumbnails > *[rating="4"] {
	--thumbnail-span: var(--thumbnail-span-large);
	width: 100%;
	height: 100%;
}

.thumbnails img {
	width: 100%;
	height: 100%;
	
	display: block;
	object-fit: cover;
}

.image-box img.main {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
	display: block;
	
	margin-bottom: var(--gap-dividing);
}

.image-box .info {
	display: grid;
	grid-template-columns: minmax(min-content, max-content);
}

.image-box .info > * {
	flex-grow: 0;
}

.image-box .info time {
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
	
	white-space: nowrap;
}

.image-box .intro {
	--image-box-intro-margin: 1em;
	
	display: flex;
	margin: 0 calc(var(--image-box-intro-margin) * -1);
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: var(--heading-margin-vertical);
}

.image-box .intro > * {
	margin: 0 var(--image-box-intro-margin);
	display: inline-block;
}

.image-box .exif {
	--image-box-exif-margin: 0.3em;
	
	margin: 0 calc(var(--image-box-exif-margin) * -1);
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.image-box .exif > * {
	margin: 0 var(--image-box-exif-margin);
}

.image-box .exif li {
	list-style-type: none;
	display: inline-block;
	
	white-space: nowrap;
}

.f-number {
	letter-spacing: 0em;
	padding-right: 0.75ch;
}

.shutter-speed {
	white-space: nowrap;
}

.iso-mark {
	margin-right: 0.4ch;
	padding: 0.0em 0.15em 0.16em 0.2em;
	
	vertical-align: 0.075em;
	line-height: 0.5em;
	letter-spacing: 0.05em;
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
	
	border: 0.9px solid black;
	border-radius: 0.7em/0.4em;
}

.focal-length {
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
}

*:not(:empty) + .focal-length:not(:empty):not(:first-child):before {
	content:", ";
}

/* Media Queries */
