/* Fonts */



/* Variables */
:root {
	--column-amount: 5;
	--column-width: 19.5rem;
	--column-gap: 2.9rem;
	--column-image-gap: 15px;
	
	--group-spacing: 5.8rem;
	--group-spacing-large: calc(var(--group-spacing) * 1.75);
	
	--main-padding-sides: 40px;

	--header-peek: 300px;
	--header-height: calc(100vh - var(--header-peek));
}

body {
	margin: 0px;
	
	font-size: 13px;
	font-family: 
		"BPG Arial", 
		"Helvetica Now Text Light", 
		sans-serif;
}

main {
	/* set width to be mid-content*/
	display: grid;
	justify-content: center;
	
	padding: 0 var(--main-padding-sides) 0 var(--main-padding-sides);
}

a:link, a:visited {
	color: #3E5253;
}

a:hover {
	color: #55A386;
}

.project hgroup h2 {
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

p {
	display: inline-block;
	margin-top: 0;
	
	text-align: justify;
	text-justify: inter-character;
	hyphens: auto;
	letter-spacing: 0.4px;
}



header, .column-group {
	margin-bottom: var(--group-spacing);
}

header {
	height: var(--header-height);
	min-height: 544px; /* magic number */
	display: grid;
	grid-auto-rows: min-content;
	
	padding-top: var(--group-spacing-large);
	box-sizing: border-box;
}

header .header-group {
	/* padding-top: var(--group-spacing-large); */
	max-height: 400px;
}

header hgroup {
	margin-top: var(--group-spacing);
}

.column-group {
	display: grid;
	grid-template-columns: repeat(var(--column-amount), var(--column-width));
	grid-gap: var(--column-gap);
	justify-content: center;
}



.column-text {
	--column-text-width: calc(var(--column-width) - calc(var(--column-gap) * 2));
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--column-text-width), 1fr));
	grid-column-gap: inherit;
	grid-auto-rows: min-content;
}



.column-image {
	display: grid;
	grid-gap: var(--column-image-gap);
}

.column-image img {
	width: 100%;
	display: block;
	
	background-color: #EEE;
}

.column-image img.span-all {
	grid-column: 1 / -1;
}



/* generalized grid layouts */

.project {
	margin-bottom: var(--group-spacing-large);
}

.project .column-text {
	grid-row-start: 1;
	grid-column-start: text-start;
	grid-column-end: text-end;
}

.project .column-image {
	grid-row-start: 1;
	grid-column-start: image-start;
	grid-column-end: image-end;
}

/* specific 5-column grid layouts */

/* 2nd-truth */

/* 2nd-truth "introduction" */

.project#\32 nd-truth .column-group#group-introduction {
	grid-template-areas: 
		"text text image image image";
}

/* 2nd-truth "end" */

.project#\32 nd-truth .column-group#group-end {
	grid-template-areas: 
		". image image image text";
}

.project#\32 nd-truth .column-image#image-open {
	grid-template-columns: 1fr 1fr;
}

/* f64 */

.project#f64 .column-group#group-posters {
	--poster-constant: 3; /*1.4*/
	
	--poster-aspect-ratio: 1.532;
	--poster-span: 2;
	--poster-height: calc( calc(var(--column-width) * var(--poster-span)) + calc(var(--column-gap) * calc(var(--poster-span) - 1)));
	
	--poster-overlap: calc( var(--poster-height) / var(--poster-constant));
	
	grid-template-areas: 
		"text-introduction 	image-bokeh 		image-bokeh 		text-description 	text-description"
		"text-introduction 	image-bokeh 		image-bokeh 		text-bokeh 			.				"
		"text-introduction 	image-bokeh 		image-bokeh 		image-aberration 	image-aberration"
		"text-introduction 	.					text-aberration 	image-aberration 	image-aberration"
		"text-introduction 	image-distortion 	image-distortion 	image-aberration 	image-aberration"
		"text-introduction 	image-distortion 	image-distortion 	text-distortion 	.				";
		
	grid-template-rows: min-content 1fr var(--poster-overlap) auto var(--poster-overlap);
}

.project#f64 .column-text#text-introduction {
	grid-column-start: text-introduction-start;
	grid-column-end: text-introduction-end;
	grid-row-start: image-bokeh-start;
	grid-row-end: image-bokeh-end;
}

.project#f64 .column-text#text-description {
	grid-column-start: text-description-start;
	grid-column-end: text-description-end;
	
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr;
}

.project#f64 .column-text#text-bokeh {
	grid-column-start: text-bokeh-start;
	grid-column-end: text-bokeh-end;
	grid-row-start: text-bokeh-start;
	grid-row-end: text-bokeh-end;
	
	align-self: end;
}

.project#f64 .column-text#text-aberration {
	grid-column-start: text-aberration-start;
	grid-column-end: text-aberration-end;
	grid-row-start: text-aberration-start;
	grid-row-end: text-aberration-end;
	
	align-self: end;
}

.project#f64 .column-text#text-distortion {
	grid-column-start: text-distortion-start;
	grid-column-end: text-distortion-end;
	grid-row-start: text-distortion-start;
	grid-row-end: text-distortion-end;
}

.project#f64 .column-image#image-bokeh {
	grid-column-start: image-bokeh-start;
	grid-column-end: image-bokeh-end;
	grid-row-start: image-bokeh-start;
	grid-row-end: image-bokeh-end;
}

.project#f64 .column-image#image-aberration {
	grid-column-start: image-aberration-start;
	grid-column-end: image-aberration-end;
	grid-row-start: image-aberration-start;
	grid-row-end: image-aberration-end;
}

.project#f64 .column-image#image-distortion {
	grid-column-start: image-distortion-start;
	grid-column-end: image-distortion-end;
	grid-row-start: image-distortion-start;
	grid-row-end: image-distortion-end;
}

.paragraph-group#resume {
	grid-column-end: span 2;
}




/* 4 column breakpoint */

@media only screen and (max-width: 1800px) {
	:root {
		--column-amount: 4;
	}
	
	/* specific 3-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text image image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			"image image image text";
	}
	
	/* f64 */
	
	.project#f64 .column-group#group-posters {
	--poster-constant: 1.4;
	
		grid-template-areas: 
			"text-introduction 	text-description	image-bokeh 		image-bokeh		"
			".					text-bokeh			image-bokeh 		image-bokeh		"
			"image-aberration	image-aberration	image-bokeh 		image-bokeh		"
			"image-aberration 	image-aberration 	image-distortion	image-distortion"
			"text-aberration 	text-distortion 	image-distortion 	image-distortion";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) var(--poster-overlap);
	}
}

/* 3 column breakpoint */

@media only screen and (max-width: 1500px) {
	:root {
		--column-amount: 3;
	}
	
	/* specific 3-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			"image image text";
	}
	
	/* f64 */
	
	.project#f64 .column-group#group-posters {
	--poster-constant: 3;
	
		grid-template-areas: 
			"text-introduction 	image-bokeh 		image-bokeh		"
			"text-description	image-bokeh 		image-bokeh		"
			"text-bokeh			image-bokeh			image-bokeh 	"
			"image-aberration 	image-aberration 	text-aberration	"
			"text-distortion	image-distortion	image-distortion";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) auto var(--poster-overlap);
	}
}

/* 1-2 column breakpoint */

@media only screen and (max-width: 1100px) {
	:root {
		--column-amount: 2;
	}

	main {
		max-width: 700px;
		margin: 0 auto;
	}

	.column-group {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	.project#\32 nd-truth .column-image#image-open img {
		grid-column: 1 / -1;
	}
}