/* Fonts */



/* Variables */
:root {
	--column-amount: 5;
	--column-width: 19.5rem;
	--column-gap: 2.9rem;
	--column-gap-row: var(--column-gap);
	--column-image-gap: 15px;
	--column-sidebar-width: 167px;
	
	--group-spacing: 5.8rem;
	--group-spacing-large: calc(var(--group-spacing) * 1.75);
	
	--main-max-width: calc(calc(var(--column-width) * 2) + var(--column-gap));
	--main-padding-sides: 40px;

	--header-peek: 300px;
	--header-height: calc(100vh - var(--header-peek));
	
	
	--root-font-size: 13px;
	--body-x-height-diff: 3px;
	--heading-margin: calc(var(--root-font-size) * 0.83);
	--counter-spacing: 3rem;
	
	
	--color-cyan-neutral: #3E5253;
	--color-cyan-bright: #55A386;
	
	--color-image-bg: #FEFEFE;
	--color-subnote: #888;
}

body {
	margin: 0px;
	
	font-size: var(--root-font-size);
	font-family: 
		"BPG Arial", 
		"Arial",
		sans-serif;
		
	letter-spacing: 0.5px;
	line-height: 16px;
	
	counter-reset: project-counter;
}

main {
	max-width: var(--main-max-width);
	margin: 0 auto;
	padding: var(--main-padding-sides);
}

a:link, a:visited {
	color: var(--color-cyan-neutral);
}

a:hover {
	color: var(--color-cyan-bright);
}

h1, h2 {
	font-size: var(--root-font-size);
	font-weight: 400;
	
	margin-top: var(--heading-margin);
	margin-bottom: var(--heading-margin);
}

.project hgroup {
	padding-left: var(--counter-spacing);
	margin-bottom: calc(var(--heading-margin) + var(--root-font-size));
}

.project hgroup:before {
	counter-increment: project-counter;
	content: counter(project-counter) ".";
	
	margin-left: calc(var(--counter-spacing) * -1);
	position: absolute;
	
	font-family: "Helvetica Now Text Light";
}

.project hgroup h1 {
	margin-bottom: 0rem;
}

.project hgroup h2 {
	font-size: 10.1px;
	font-family: "Helvetica Now Micro Light";
		
	font-weight: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 1px;
	margin-bottom: 0px;
}

.project hgroup h2.justify:not(.multi-line) {
	text-align: justify;
	text-align-last: justify;
	text-justify: inter-character;
}

.project hgroup:before, .project hgroup h2 {
	font-feature-settings: "tnum", "ss01", "ss02", "ss03", "ss05", "ss07";
}

p, figcaption {
	display: inline-block;
	margin-top: 0;
	
	text-align: justify;
	text-justify: inter-character;
	hyphens: auto;
	orphans: 2;
}

figcaption {
	--char-spacing: 0.5ch;
	color: var(--color-subnote);
}

figcaption.up:before {
	content:"↑";
	padding-right: var(--char-spacing);
}

figcaption.right:before {
	content:"→";
	padding-right: var(--char-spacing);
}

figcaption.right-top:before {
	content:"→ \A";
	display: block;
	text-align: right;
}

figcaption.down:before {
	content:"↓";
	padding-right: var(--char-spacing);
}

figcaption.left:before {
	content:"←";
	padding-right: var(--char-spacing);
}

.project hgroup *:not(.multi-line) span.tag:not(:first-of-type):before {
	--tag-bullet-space: 0.36ch;
	
	content:"·";
	margin-left: var(--tag-bullet-space);
	margin-right: var(--tag-bullet-space);
}

.project hgroup .multi-line span.tag {
	--tag-hanging-indent: 2ch;
	margin-left: var(--tag-hanging-indent);
	text-indent: calc(var(--tag-hanging-indent) * -1);
	display: block;
	
	text-align: justify;
	text-justify: inter-character;
}

span.tied {
	display: inline-block;
}



header {
	margin-bottom: var(--group-spacing-large);
}

header hgroup {
	margin-top: var(--column-gap);
}

header img {
	width: var(--column-width);
	max-width: 100%;
}

.column-group + .column-group {
	margin-top: var(--group-spacing);
}



.column-image, .preview-image {
	display: grid;
	grid-gap: var(--column-image-gap);
}

.column-image img {
	width: 100%;
	display: block;
	
	background-color: var(--color-image-bg);
}

.column-image img.span-all-columns {
	grid-column: 1 / -1;
}

.project {
	margin-bottom: var(--group-spacing-large);
}

.project img {
	background-color: #DDD;
}

.project .preview-image {
	display: none;
}

.project.concealed {
	grid-template-columns: repeat(var(--column-amount), var(--column-width));
	grid-column-gap: var(--column-gap);
	
	grid-auto-rows: 1fr;
	grid-template-rows: min-content 1fr;
	
	grid-template-areas: "intro image image image-large image-large";
}

.project.concealed .column-group > .column-text#text-introduction > :not(.preview),
.project.concealed .column-group > :not(#text-introduction) ,
.project.concealed .column-group:not(:first-of-type) {
	display: none;
}

.project.concealed .column-group {
	margin-bottom: 0;
}

.project.concealed hgroup {
	grid-column-start: 1;
}

.project hgroup *:first-child {
	margin-top: 0;
}

.project.concealed .column-group {
	grid-column-start: 1;
	display: initial;
}

.project.concealed .preview-image {
	margin-left: calc(calc(var(--column-width) * 0.5) - var(--column-gap));
	display: grid;
	
	grid-row-start: 1;
	grid-row-end: span 2;
	grid-column: image-start / -1;
}

.project.concealed .preview-image.small {
	/* grid-column-end: image; */
	margin-right: calc(var(--column-width) * 0.5);
}

.preview-image img {
	width: 100%;
	display: block;
}

.project .column-image img {
	object-fit: cover;
	max-height: calc(100vh - calc(var(--column-gap) * 1));
	max-height: max(calc(100vh - calc(var(--column-gap) * 1)), 600px);
	max-height: calc(100vh - calc(var(--column-gap) * 1));
}

.project .column-image img {
	outline: 1px solid rgba(0,0,0,0.1);
	outline-offset: -1px;
}

.preview-image.horizontal {
	grid-auto-flow: column;
}

.project hgroup + p:first-of-type {
	text-indent: var(--counter-spacing);
}



/* css grid override */

/* sidebar */
@media only screen and (min-width: 1138px) {
	
	main {
		max-width: initial;
		display: grid;
		justify-content: center;
	}
	
	main.projects .header-group {
		position: fixed;
		width: var(--column-sidebar-width);
	}
}

/* no sidebar */
@media only screen and (max-width: 1137px) {
	main.projects {
		--main-max-width: calc(calc(calc(var(--column-width-laptop) + var(--column-gap)) * var(--column-amount)) - var(--column-gap));
	}
}

/* above mobile */
@media only screen and (min-width: 885px) {
	
	main.projects {
		--column-gap-main: calc(var(--column-gap) * 2);
		
		grid-template-columns: [sidebar] minmax(var(--column-sidebar-width), var(--column-width)) [projects] min-content;
		grid-column-gap: var(--column-gap-main);
		grid-template-rows: min-content;
	}
	
	main.projects > header {
		grid-column-start: sidebar;
	}
	
	main.projects .project-list {
		grid-column-start: projects;
	}
	
	.column-group {
		display: grid;
		grid-template-columns: repeat(var(--column-amount), var(--column-width));
		grid-column-gap: var(--column-gap);
		grid-row-gap: var(--column-gap-row);
	}
	
	.column-group + .column-group {
		margin-top: var(--column-gap);
	}
	
	.column-text {
		--column-text-width: calc(var(--column-width) - calc(var(--column-gap) * 2));
		
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--column-text-width), 1fr));
		grid-column-gap: inherit;
		grid-auto-rows: min-content;
	}
	
	.project {
		width: auto;
		display: grid;
		grid-template-columns: min-content;
		justify-content: center;
	}

	.project .column-text {
		grid-row-start: 1;
		grid-column-start: text-start;
		grid-column-end: text-end;
	}

	.project .column-image {
		grid-row-start: 1;
		grid-column-start: image-start;
		grid-column-end: image-end;
	}

	/* specific 5-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text text image image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			". image image image text";
	}

	/* f64 */
	
	.project#f64 .column-group img {
		object-position: 50% 100%;
	}

	.project#f64 .column-group#group-posters {
		--poster-constant: 1.8;
		
		--poster-aspect-ratio: 1.532;
		--poster-span: 2;
		--poster-height: calc( calc(var(--column-width) * var(--poster-span)) + calc(var(--column-gap) * calc(var(--poster-span) - 1)));
		
		--poster-overlap: calc( var(--poster-height) / var(--poster-constant));
		
		grid-template-areas: 
			"text-introduction 	image-bokeh 		image-bokeh 		text-description 	text-description"
			"text-introduction 	image-bokeh 		image-bokeh 		text-bokeh 			.				"
			"text-introduction 	image-bokeh 		image-bokeh 		image-aberration 	image-aberration"
			"text-introduction 	.					text-aberration 	image-aberration 	image-aberration"
			"text-introduction 	image-distortion 	image-distortion 	image-aberration 	image-aberration"
			"text-introduction 	image-distortion 	image-distortion 	text-distortion 	.				";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) auto var(--poster-overlap);
	}

	.project#f64 .column-text#text-introduction {
		grid-column-start: text-introduction-start;
		grid-column-end: text-introduction-end;
		grid-row-start: text-introduction-start;
		grid-row-end: text-introduction-end;
	}

	.project#f64 .column-text#text-description {
		grid-column-start: text-description-start;
		grid-column-end: text-description-end;
		grid-row-start: text-description-start;
		grid-row-end: text-description-end;
	}

	.project#f64 .column-text#text-bokeh {
		grid-column-start: text-bokeh-start;
		grid-column-end: text-bokeh-end;
		grid-row-start: text-bokeh-start;
		grid-row-end: text-bokeh-end;
		
		align-self: end;
	}

	.project#f64 .column-text#text-aberration {
		grid-column-start: text-aberration-start;
		grid-column-end: text-aberration-end;
		grid-row-start: text-aberration-start;
		grid-row-end: text-aberration-end;
		
		align-self: end;
	}

	.project#f64 .column-text#text-distortion {
		grid-column-start: text-distortion-start;
		grid-column-end: text-distortion-end;
		grid-row-start: text-distortion-start;
		grid-row-end: text-distortion-end;
	}

	.project#f64 .column-image#image-bokeh {
		grid-column-start: image-bokeh-start;
		grid-column-end: image-bokeh-end;
		grid-row-start: image-bokeh-start;
		grid-row-end: image-bokeh-end;
	}

	.project#f64 .column-image#image-aberration {
		grid-column-start: image-aberration-start;
		grid-column-end: image-aberration-end;
		grid-row-start: image-aberration-start;
		grid-row-end: image-aberration-end;
	}

	.project#f64 .column-image#image-distortion {
		grid-column-start: image-distortion-start;
		grid-column-end: image-distortion-end;
		grid-row-start: image-distortion-start;
		grid-row-end: image-distortion-end;
	}

	.paragraph-group#resume {
		grid-column-end: span 2;
	}
	
	/* ჰელმანი */

	/* ჰელმანი "introduction" */

	.project#ჰელმანი .column-group {
		grid-template-areas: 
			"text image image image image";
	}
	
	.project#ჰელმანი .column-group img {
		align-self: stretch;
	}
	
	.project#ჰელმანი .column-group img#sweatshirt {
		object-position: 50% 70%;
	}
	
	.project#ჰელმანი .column-group img#litho {
		object-position: 50% 0%;
	}
	
	/* marlboro */

	/* marlboro "introduction" */

	.project#marlboro .column-group {
		grid-template-areas: 
			"text image image image image";
	}
	
	.project#marlboro .column-group img {
		align-self: stretch;
	}
	
	.project#marlboro .column-group img#poster {
		object-position: 50% 24%;
	}
	
	.project#marlboro .column-group img#detail {
		object-position: 50% 38%;
	}
	
	/* dive */

	/* dive "introduction" */

	.project#dive .column-group#group-introduction {
		grid-template-areas: 
			"text image image image image";
	}
	
	.project#dive .column-image#image-poster {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* dive "showcase" */

	.project#dive .column-group#group-showcase {
		grid-template-areas: 
			". image image image image";
	}

	/* dive "end" */

	.project#dive .column-group#group-end {
		grid-template-areas: 
			". image image image text";
	}
	
	.project#dive .column-image#image-box {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* electro-threads */

	/* electro-threads "introduction" */

	.project#electro-threads .column-group {
		grid-template-areas: 
			"text image image image image";
	}
}

/* up to mobile */
@media only screen and (max-width: 884px) {
	:root {
		--column-gap: calc(2.9rem * 0.5);
		
		--main-max-width: calc(calc(var(--column-width) * 2) + var(--column-gap));
	}
	
	main.projects header .header-group {
		position: initial;
	}
	
	.column-group + .column-group {
		margin-top: calc(var(--column-image-gap) + var(--body-x-height-diff));
	}
	
	.column-image {
		margin-bottom: calc(var(--column-image-gap) * 2);
	}
	
	.column-text {
		column-count: 2;
		column-gap: var(--column-image-gap);
	}
	
	.column-image {
		margin-top: calc(var(--column-image-gap) + var(--body-x-height-diff));
	}
	
	figcaption {
		/* fix figcaption margins */
		margin-bottom: var(--root-font-size);
	}
	
	.project hgroup {
		column-span: all;
	}
}

/* above mobile small */
@media only screen and (min-width: 700px) {
	.project#\32 nd-truth .column-image#image-open,
	.project#ჰელმანი .column-image, 
	.project#marlboro .column-image
	{
		grid-template-columns: 1fr 1fr;
	}
}

/* up to mobile small */
@media only screen and (max-width: 699px) {
	.column-text {
		column-count: 1;
	}
}




/* 4 column breakpoint */

@media only screen and (max-width: 2200px) {
	:root {
		--column-amount: 4;
	}
	
	.project.concealed {
		grid-template-areas: "intro image image image-large";
	}
	
	/* specific 4-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text image image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			"image image image text";
	}
	
	/* f64 */
	
	.project#f64 .column-group#group-posters {
	--poster-constant: 1.4;
	
		grid-template-areas: 
			"text-introduction 	text-description	image-bokeh 		image-bokeh		"
			".					text-bokeh			image-bokeh 		image-bokeh		"
			"image-aberration	image-aberration	image-bokeh 		image-bokeh		"
			"image-aberration 	image-aberration 	image-distortion	image-distortion"
			"text-aberration 	text-distortion 	image-distortion 	image-distortion";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) var(--poster-overlap);
	}
	
	.project#f64 .column-text#text-aberration {
		align-self: start;
	}
	
	/* ჰელმანი */

	/* ჰელმანი "introduction" */

	.project#ჰელმანი .column-group {
		grid-template-areas: 
			"text image image image";
	}
	
	/* marlboro */

	/* marlboro "introduction" */

	.project#marlboro .column-group {
		grid-template-areas: 
			"image image image text";
	}
	
	/* dive */

	/* dive "introduction" */

	.project#dive .column-group#group-introduction {
		grid-template-areas: 
			"text image image image";
	}
	
	.project#dive .column-image#image-poster {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* dive "showcase" */

	.project#dive .column-group#group-showcase {
		grid-template-areas: 
			"image image image image";
	}

	/* dive "end" */

	.project#dive .column-group#group-end {
		grid-template-areas: 
			"image image image text";
	}
	
	.project#dive .column-image#image-box {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* electro-threads */

	/* electro-threads "introduction" */

	.project#electro-threads .column-group {
		grid-template-areas: 
			"text image image image";
	}
}

/* 3 column breakpoint */

@media only screen and (max-width: 1743px) {
	:root {
		--column-amount: 3;
	}
	
	main.projects .project-list {
		padding-top: 0;
	}
	
	header {
		padding-top: 0;
	}
	
	.project.concealed {
		grid-template-areas: "intro image image";
	}
	
	.project.concealed .preview-image.small  {
		margin-right: 0;
	}
	
	/* specific 3-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			"image image text";
	}
	
	/* f64 */
	
	.project#f64 .column-group#group-posters {
	--poster-constant: 3;
	
		grid-template-areas: 
			"text-introduction 	image-bokeh 		image-bokeh		"
			"text-description	image-bokeh 		image-bokeh		"
			"text-bokeh			image-bokeh			image-bokeh 	"
			"image-aberration 	image-aberration 	text-aberration	"
			"text-distortion	image-distortion	image-distortion"
			".					image-distortion	image-distortion";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) auto var(--poster-overlap);
	}
	
	.project#f64 .column-text#text-description {
		margin-top: calc(var(--column-gap-row) * -1);
	}
	
	/* ჰელმანი */

	/* ჰელმანი "introduction" */

	.project#ჰელმანი .column-group {
		grid-template-areas: 
			"text image image";
	}
	
	/* marlboro */

	/* marlboro "introduction" */

	.project#marlboro .column-group {
		grid-template-areas: 
			"image image text";
	}
	
	/* dive */

	/* dive "introduction" */

	.project#dive .column-group#group-introduction {
		grid-template-areas: 
			"text image image";
	}
	
	.project#dive .column-image#image-poster {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* dive "showcase" */

	.project#dive .column-group#group-showcase {
		grid-template-areas: 
			"image image image";
	}

	/* dive "end" */

	.project#dive .column-group#group-end {
		grid-template-areas: 
			"image image text";
	}
	
	/* electro-threads */

	/* electro-threads "introduction" */

	.project#electro-threads .column-group {
		grid-template-areas: 
			"text image image";
	}
}

/* laptop breakpoint */

@media only screen and (max-width: 1385px) {
	:root {
		--column-amount: 7;
		--column-width-laptop: 4.56rem;
		--column-gap-row: var(--column-image-gap);
	}
	
	.project hgroup {
		margin-bottom: 1em;
		column-span: all;
	}
	
	.project hgroup h2.justify:not(.multi-line) {
		text-align-last: unset;	
	}
	
	.column-group {
		grid-template-columns: repeat(var(--column-amount), var(--column-width-laptop));
	}
	
	/* specific laptop-column grid layouts */

	/* 2nd-truth */

	/* 2nd-truth "introduction" */

	.project#\32 nd-truth .column-group#group-introduction {
		grid-template-areas: 
			"text text text image image image image";
	}

	/* 2nd-truth "end" */

	.project#\32 nd-truth .column-group#group-end {
		grid-template-areas: 
			"image image image image text text text";
	}
	
	/* f64 */
	
	.project#f64 .column-group#group-posters {
	--poster-constant: 3;
	
		grid-template-areas: 
			"text-introduction	text-introduction	text-introduction 	image-bokeh 		image-bokeh			image-bokeh			image-bokeh"
			"text-description	text-description	text-description	image-bokeh 		image-bokeh			image-bokeh			image-bokeh"
			"text-bokeh			text-bokeh			text-bokeh			image-bokeh			image-bokeh 		image-bokeh			image-bokeh"
			"image-aberration 	image-aberration	image-aberration	image-aberration	text-aberration		text-aberration		text-aberration"
			"text-distortion	text-distortion		text-distortion		image-distortion	image-distortion 	image-distortion 	image-distortion"
			".					.					.					image-distortion	image-distortion	image-distortion	image-distortion";
			
		grid-template-rows: min-content 1fr var(--poster-overlap) auto var(--poster-overlap);
	}
	
	/* ჰელმანი */

	/* ჰელმანი "introduction" */

	.project#ჰელმანი .column-group {
		grid-template-areas: 
			"text text text image image image image";
	}
	
	.project#ჰელმანი .column-image {
		grid-template-columns: initial;
	}
	
	.project#ჰელმანი .column-image img#sweatshirt {
		max-height: 600px;
	}
	
	.project#ჰელმანი .column-image img#litho {
		display: none;
	}
	
	/* marlboro */

	/* marlboro "introduction" */

	.project#marlboro .column-group {
		grid-template-areas: 
			"image image image image text text text";
	}
	
	.project#marlboro .column-image {
		grid-template-columns: initial;
	}
	
	.project#marlboro .column-image img#poster {
		max-height: 600px;
	}
	
	.project#marlboro .column-image img#detail {
		display: none;
	}
	
	/* dive */

	/* dive "introduction" */

	.project#dive .column-group#group-introduction {
		grid-template-areas: 
			"text text text image image image image";
	}
	
	.project#dive .column-image#image-poster {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* dive "showcase" */

	.project#dive .column-group#group-showcase {
		grid-template-areas: 
			"image image image image image image image";
	}

	/* dive "end" */

	.project#dive .column-group#group-end {
		grid-template-areas: 
			"image image image image text text text";
	}
	
	/* electro-threads */

	/* electro-threads "introduction" */

	.project#electro-threads .column-group {
		grid-template-areas: 
			"text text text image image image image";
	}
}

/* height */

@media only screen and (min-height: 900px) {
	main.projects .project-list {
		grid-column-start: projects;
		padding-top: var(--group-spacing);
	}
	
	header {
		padding-top: var(--group-spacing);
		margin-bottom: var(--group-spacing-large);
	}
}



/* DPR */

@media (-webkit-max-device-pixel-ratio: 1.1) {
	.project hgroup:before {
		font-family: "Helvetica Now Text";
		font-size: 12px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.1) {
	body {
		font-family: 
			"Helvetica Now Text Light", 
			"BPG Arial", 
			"Arial",
			sans-serif;
			
		letter-spacing: 0.3px;
		word-spacing: 0px;
	}
}


