/* fonts */
@font-face {
	font-family: "Franklin Gothic";
	src: 
		local('Franklin Gothic Demi Cond'), 
		local('FranklinGothic-DemiCond'),
        url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
        url('../fonts/FranklinGothic-DemiCond.woff') format('woff');
}


/* variables */
:root {
	--main-width: 800px;
	--main-spacing: 105px;
	--body-width: calc(100vw - (var(--main-spacing) * 2));
}


/* elements */
body {
	margin: 0px;
	margin-top: 72px;
}

main {
	max-width: var(--main-width);
	margin: 0px 0px 0px var(--main-spacing); 
	padding: 0px;
}

article, nav {
	margin: 72px 0px 72px 0px;
}	

hgroup a:not(:hover) {
	text-decoration: none;
	border: none;
}

h1, h2 {
	margin: 72px 0px 0.5em 0px;
	line-height: 32px;
	
	font-family: "Franklin Gothic", sans-serif;
	font-size: 3em;
	font-weight: normal;
}

h3, h4, h5, h6, h7, h8, h9 {
	margin: 0em 0px 0em 0px;
	line-height: 1em;
	
	font-weight: normal;
}

p, ul:not(.breadcrumbs) {
	margin: 1em 0px 1em 0px;
	line-height: inital;
	
	hyphens: auto;
}

small {
	padding-right: 4em;
	margin: 1em 0em 1em 0em;
	display: block;
}

body, small, nav, h2, h3, h4, h5, h6, h7, h8, h9 {
	text-align: left;
	hyphens: none;
	
	font-size: 11.5px;
	font-family: arial, sans-serif;
	line-height: 1.39em;
	
	text-shadow: none;
}

ul.breadcrumbs {
	margin: 0px;
	padding: 0px;
	display: block;
}

ul.breadcrumbs li {
	padding: 0px;
	display: inline;
	
	white-space: nowrap;
}

ul.breadcrumbs li:after {
	/*
	margin: 0px 0.5px 0px 0.5px;
	font-size: 1.2em;
	*/
	content:" > ";
}

ul.breadcrumbs li:last-child:after {
	content: "";
}

ul.breadcrumbs a {
	border: 0;
	text-decoration: none;
}

a {
	color: inherit;
	
	/*
	border-bottom: dotted 1px gray;
	text-decoration: none;
	*/
	
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: gray;
}

a:target {
	outline: 0;
	border: 0;
}

a.back {
	font-weight: bold;
	border-bottom: dotted 1px gray;
	text-decoration: none;
}

a.button:active {
	position: relative;
	top: 1px;
}

a[href^="mailto:"] {
	white-space: nowrap;
}

sup a:target, mark {
	background-color: #D5D580;
	background-image: url("../images/highlight.png");
	background-repeat: repeat, repeat;
	image-rendering: -moz-crisp-edges;
}

mark {
	padding: 1px;
}

sup {
	font-size: 0.7em;
	font-style: normal;
}

sup a {
	padding: 0px 2px 0px 2px;
	
	border: 0;
	text-decoration: none;
	text-shadow: none;
}

img {
	max-width: 100%;
	margin: 0.5em 0em 0em 0em;
	
	background-color: #FFF;
	display: block;
}

img + img {
	margin-top: 0em;
}



a img {
	display: block;
}

ul {
	list-style: circle outside;
	/*padding-left: 0px;*/
}



/* media queries */
@media screen and (max-width: 1300px) { /*1016*/
	:root {
		--main-spacing: 50px;
	}

	main {
		margin: 0px auto;
		padding: 0px var(--main-spacing);
	}
}

@media screen and (max-width: 700px) {
	small {
		text-align: left;
		padding-right: 0em;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--main-spacing: 20px;
	}
	
	.drop-cap {
		all: unset;
	}
	
	span.no-break {
		display: inline;
	}
}

@media screen and (max-width: 400px) {
	p {
		text-align: left;
	}
}