/* Fonts */

@font-face {
    font-family: 'Franklin Gothic';
    src: local('Franklin Gothic Heavy'), local('FranklinGothic-Heavy'),
        url('FranklinGothic-Heavy.woff2') format('woff2'),
        url('FranklinGothic-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Demi';
    src: local('Franklin Gothic Demi'), local('FranklinGothic-Demi'),
        url('FranklinGothic-Demi.woff2') format('woff2'),
        url('FranklinGothic-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption'), local('PTSans-Caption'),
        url('PTSans-Caption.woff2') format('woff2'),
        url('PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'),
        url('PTSans-CaptionBold.woff2') format('woff2'),
        url('PTSans-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/* Variables */

:root {
	--text-spacing-intermediate: 8pt;
	--text-spacing-big: 18pt;
	--text-spacing-text-part: 0.2em;
	
	--heading-hscaling-wide: 1.15;
	--heading-hscaling-strong: 1.5;
	
	--width-100-styled: calc(100% - 2px);
	
	--image-popup-stay: 0ms;
	--image-spacing: 4px;
}

/* loop through all headings and save function as #heading */
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}



/* Persistent Elements */

html {
	overflow-y: scroll;
}

body {
	margin: 20px 150px;
	max-width: 600px;
	
	font-family: 'PT Sans Caption', sans-serif;
	font-size: var(--text-spacing-intermediate);
	line-height: 1.405em;
}

nav, main, footer {
	margin-top: var(--text-spacing-big);
	margin-bottom: var(--text-spacing-big);
}



/* Elements */

p {
	margin: 0px;
}

#{headings(1,9)} {
	width: calc(100% / var(--heading-hscaling-wide));
	
	margin-top: var(--text-spacing-intermediate);
	margin-bottom: 0px;
	
	font-size: unset;
	font-weight: unset;
	text-transform: uppercase;
	
	transform: scale(var(--heading-hscaling-wide),1);
	transform-origin: top left;
}

#{headings(1,3)} {
	width: calc(100% / var(--heading-hscaling-strong));
	
	letter-spacing: 0.5pt;
	transform: scale(var(--heading-hscaling-strong),1);
}

h1 {
	margin-top: var(--text-spacing-big);
	margin-bottom: var(--text-spacing-intermediate);

	font-family: 'Franklin Gothic', sans-serif;
}

h2, h3 {
	font-family: 'Franklin Gothic Demi', sans-serif;
}

h3 {
	content: '\01F86A';
}

sup {
	font-size: 0.7em;
	vertical-align: text-top;
}

ul, ol {
	position: relative;
	
	margin: 0px;
	padding-left: 0pt;
	
	list-style: none;
}

ul {
	#{headings(1,9)} {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

li:before {
	content: '\25FE';
}

li {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

ul li:before, ol li:before {
	content: '\25FE';
	position: absolute;
	left: 0;
}

ul ul li, ol ol li {
	/*margin-left: 1.7em;*/
	margin-left: 0.5em;
}

ul ul li:before, ol ol li {
	content: '\01F862';
}

ul ul ul li:before, ol ol ol li:before {
	content: "–";
}



/* Images */

img {
	width: 100px;
	height: 100px;
	
	margin-top: var(--text-spacing-text-part);
	margin-bottom: var(--text-spacing-intermediate);
	display: inline;
	
	object-fit: cover;
	border: 1px solid black;
	
	image-rendering: auto;
}



/* Semantic */

time {
	text-decoration: underline;
}

cite, em strong {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
	
	color: initial;
	outline: none;
}



/* Formatting */

:not(li) figcaption {
	margin-top: calc(var(--text-spacing-intermediate) * -1);
	margin-bottom: var(--text-spacing-intermediate);
}

figure {
	margin: 0px;
	display: inline-block;
}

li img {
	width: 1em;
	height: 1em;
	
	top: var(--text-spacing-text-part);
	margin: calc(var(--text-spacing-text-part) * -1) 0px 0px 0px;
	position: relative;
	
	object-fit: cover;
	display: inline;
}



/* Links */

img:hover, li:hover img {
	width: var(--width-100-styled);
	height: 100%;
	
	display: block;
	
	transition-delay: 0s;
}

li:hover img {
	margin-top: var(--text-spacing-text-part);
	margin-bottom: calc(var(--text-spacing-text-part) + var(--image-spacing));
}

img, li {
	transition: width 0s, height 0s, margin-top 0s, margin-bottom 0s;
	transition-delay: var(--image-popup-stay);
}

a {
	font-weight: bold;
	text-decoration: none;
	outline: none;
	color: #00F;
	
	display: inline-block;
}

a:hover, a:active {
	color: #F00;
}

a:focus {
	outline: 1px dotted blue;
}

a:focus:hover {
	outline: 1px dotted red;
}




/* Tables */

table {
	table-layout: fixed;
	width: 100%;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 0em 0.5em 0em 0.5em;
	border: 1px solid gray;
}






/* Media queries */

@media screen and (max-width: 1000px) {
	body {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media screen and (max-width: 500px) {
	body {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-height: 600px), (hover: none) {
	img, li img {
		width: var(--width-100-styled);
		height: auto;
	}
	
	li img {
		margin-top: var(--text-spacing-text-part);
		margin-bottom: var(--text-spacing-text-part);
	}
}





