/* fonts */
@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Black Condensed Oblique'), local('HelveticaLTStd-BlkCondObl'),
        url('../font/HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BlkCondObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* variables */
:root {
	--main-max-width: 800px;
	

	
	--color-orange: #e66824;
	--color-orange-dark: #A62800;
	--color-yellow: #ecb721;
	--color-blue: #006bab;
	--color-blue-dark: #131c28;
	--color-cyan: #0698a5;
	--color-gray: #dce0e2;
	
	--color-text-light: white;
	--color-text-dark: var(--color-blue-dark);
	
	--header-padding-sides: 50px;
	--header-padding-vertical: 48px;
	
	--content-max-width: 800px;
	
	--section-vertical-spacing: 105px;
	
	
	
	--font-subtext-family: arial, sans-serif;
	--font-subtext-size: 14px;
	--font-subtext-weight: normal;
	
	--font-body-family: "Tofino Pro Personal Text", sans-serif;
	--font-body-size: 18px;
	--font-body-weight: 300;
	--font-body-line-height: 1.55em;
	--font-body-letter-spacing: -0.5px;
	
	--font-button-family: "Tofino Pro Personal Medium", sans-serif;
	
	--font-heading1-family: "Tofino Pro Personal Wide", sans-serif;
	--font-heading1-size: 68px;
	--font-heading1-weight: 900;
	--font-heading1-line-height: 0.98em;
	--font-heading1-letter-spacing: 2.15px;
	
	--font-heading2-family: "Tofino Pro Personal Narrow", Arial Narrow, sans-serif;
	--font-heading2-size: 72px;
	--font-heading2-weight: 400;
	--font-heading2-line-height: 0.98em;
	--font-heading2-letter-spacing: 2.2px;
}

/* elements */
body {
	margin: 0;
	min-width: 300px;
	
	font-family: var(--font-subtext-family);
	font-size: var(--font-subtext-size);
	font-weight: var(--font-subtext-weight);
	font-variant-ligatures: none;
	
	color: var(--color-text-dark);
}

main {
	--main-width-max: 1100px;
}

header {
	padding: var(--header-padding-vertical) var(--header-padding-sides);
}

section#hero, .steps section, section#live {
	--margin-width: calc(calc(100vw - var(--main-max-width)) / 3);
	
	display: grid;
	grid-template-areas: 'margin-left column-left column-right margin-right';
	grid-template-columns: [margin-left] var(--margin-width) [column-left] auto [column-right] 1fr [margin-right] var(--margin-width);
	grid-gap: 3rem;
}

section#hero {
	grid-template-rows: [header] auto [content] auto;
}

section#hero {
	--hero-height: 82vh;
	min-height: var(--hero-height);
	
	overflow: hidden;
	color: var(--color-gray);
	background-color: var(--color-blue-dark);
}

nav {
	display: inline;
}

nav ul, footer ul {
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul li, footer ul li {
	display: inline;
	padding-right: 2.3rem;
}

section#hero .logo {
	margin-top: calc(var(--header-padding-vertical) - 0.25rem);
	margin-left: var(--header-padding-sides);
	margin-right: var(--header-padding-sides);
	margin-bottom: var(--header-padding-vertical);
	
	display: inline-block;
	
	grid-column-start: margin-left;
	grid-column-end: margin-left;
	grid-row-start: header;
	grid-row-end: header;
	
	width: 260px;
}

section#hero nav {
	margin-top: var(--header-padding-vertical);
	
	grid-column-start: column-left;
	grid-column-end: column-left;
	grid-row-start: header;
	grid-row-end: header;
}

section#hero .text-intro, .steps section .prompt, section#live .text-outro {
	max-width: 500px;
	
	grid-column-start: column-left;
	grid-column-end: column-left;
	
	z-index: 10;
}

.steps section .prompt p {
	max-width: 450px;
}

section#hero .text-intro {
	align-self: end;
	grid-row-start: content;
	grid-row-end: content;
}

section#hero .text-intro {
	padding-bottom: var(--section-vertical-spacing);
}

section#hero .hero-image {
	--overflow-top: 0px;
	--overflow-right: 190px;
	--overflow-bottom: 0px;
	--overflow-left: 0px;
	
	width: calc(100% + var(--overflow-left) + var(--overflow-right));
	min-width: 900px;
	margin: calc(var(--overflow-top) * -1) calc(var(--overflow-right) * -1) calc(var(--overflow-bottom) * -1) calc(var(--overflow-left) * -1);
	
	grid-column-start: column-right;
	grid-column-end: margin-right;
	grid-row-start: header;
	grid-row-end: span 2;
	
	background-image: url("../image/staraplex logo collage hero.svg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100%;
}

section#hero p {
	width: 87%;
}

a:link, a:visited {
	text-decoration: none;
	color: var(--color-orange);
}

a:active, a:target, a:focus {
	color: var(--color-orange-dark);
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 1.5rem;
	
	font-family: var(--font-heading1-family);
	font-size: var(--font-heading1-size);
	font-weight: var(--font-heading1-weight);
	text-transform: uppercase;
	line-height: var(--font-heading1-line-height);
	letter-spacing: var(--font-heading1-letter-spacing);
}

h2 {
	margin: 0 0 1.75rem 0;
	
	font-family: var(--font-heading2-family);
	font-size: var(--font-heading2-size);
	font-weight: var(--font-heading2-weight);
	line-height: var(--font-heading2-line-height);
	letter-spacing: var(--font-heading2-letter-spacing);
}

.blue {
	color: var(--color-blue);
}

.orange {
	color: var(--color-orange);
}

p, .steps ul {
	font-family: var(--font-body-family);
	font-size: var(--font-body-size);
	font-weight: var(--font-body-weight);
	line-height: var(--font-body-line-height);
	letter-spacing: var(--font-body-letter-spacing);
}

p.subtext {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: intitial;
	line-height: initial;
	letter-spacing: initial;
}

.button {
	margin: 0.35em -0.6em;
	padding: 0.25em 1.2em 0.35em 1.2em;
	display: inline-block;
	
	font-family: var(--font-button-family);
	font-size: var(--font-body-size);
	font-weight: var(--font-body-weight);
	line-height: var(--font-body-line-height);
	
	color: var(--color-orange);
	border: 1.5px solid var(--color-orange);
	border-radius: 1000px;
}

a:hover .button {
	background-color: var(--color-orange);
	color: var(--color-blue-dark);
}

a:active .button {
	color: var(--color-blue-dark);
	border-color: var(--color-orange-dark);
	background-color: var(--color-orange-dark);
}

.steps ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.steps li {
	padding-left: 1em; 
	text-indent: -1em;
}

.steps li::before {
	content: "⬤";
	padding-right: 1.1em;
	color: #e66824; /* or whatever color you prefer */
	font-size: 0.5em;
	vertical-align: top;
}

.steps section {
	min-height: 200px;
	padding-top: var(--section-vertical-spacing);
	padding-bottom: var(--section-vertical-spacing);
}

.steps section .prompt {
	--number-spacing: 8.2rem;
	max-width: 600px;
}


.steps section:nth-child(odd) {
	background-color: var(--color-gray);
	
	grid-template-columns: [margin-left] var(--margin-width) [column-left] auto [column-right] 1fr [margin-right] var(--margin-width);
}

.steps section:nth-child(even) {
	grid-template-columns: [margin-left] var(--margin-width) [column-left] 1fr [column-right] auto [margin-right] var(--margin-width);
}

.steps section:nth-child(odd) .prompt, .steps section:nth-child(even) .step-image {
	grid-column-start: column-left;
	grid-column-end: column-left;
	justify-items: start;
}

.steps section:nth-child(even) .prompt, .steps section:nth-child(odd) .step-image {
	grid-column-start: column-right;
	grid-column-end: column-right;
	justify-items: end;
}

.steps section:last-child {
	background-color: var(--color-blue-dark);
	color: var(--color-text-light);
}

.steps section:last-child h2, .steps section:last-child .prompt::before {
	color: var(--color-orange);
}

.steps section .step-image {
	height: 100%;
	grid-row-start: 1;
	display: grid;
}

.steps section .step-image img {
	max-width: var(--image-width);
	margin-top: calc(var(--image-over-top) * -1);
	margin-bottom: calc(var(--image-over-bottom) * -1);
	height: calc(100% + var(--image-over-top) + var(--image-over-bottom));
	
	grid-row-start: 1;
}

.steps section:nth-child(odd) .step-image img {
	justify-self: end;
	margin-right: calc(var(--image-over-side) * -1);
}

.steps section:nth-child(even) .step-image img {
	justify-self: start;
	margin-left: calc(var(--image-over-side) * -1);
}

.steps section .prompt::before {
	font-family: Tofino Pro Personal Cond, Arial Narrow, Arial;
	font-size: 290px;
	line-height: 0.72em;
	
	margin-left: calc(var(--number-spacing) * -1);
	
	position: absolute;
	text-align: right; direction: rtl
}

.steps section:nth-child(even) .prompt {
	margin-left: var(--number-spacing);
}

.steps section:nth-child(1) .step-image img {
	--image-width: 400px;
	--image-over-top: 50px;
	--image-over-bottom: 87px; 
	--image-over-side: 30px;
}

.steps section:nth-child(2) .step-image img {
	--image-width: 493px;
	--image-over-top: 82px;
	--image-over-bottom: 87px; 
	--image-over-side: 130px;
}

.steps section:nth-child(3) .step-image img {
	--image-width:  481px;
	--image-over-top: 35px;
	--image-over-bottom: 35px; 
	--image-over-side: 80px;
}

.steps section:nth-child(4) .step-image img {
	--image-width:  481px;
	--image-over-top: 40px;
	--image-over-bottom: 35px; 
	--image-over-side: 90px;
}

.steps section:last-child .step-image img {
	--image-width: 410px;
	--image-over-top: 45px;
	--image-over-bottom: 35px; 
	--image-over-side: 85px;
}

.steps section:nth-child(1) .prompt { --number-spacing: 6.2rem; }
.steps section:nth-child(2) .prompt { --number-spacing: 8rem; }
.steps section:nth-child(3) .prompt { --number-spacing: 8.2rem; }
.steps section:nth-child(4) .prompt { --number-spacing: 8.3rem; }
.steps section:nth-child(5) .prompt { --number-spacing: 8.7rem; }
.steps section:nth-child(6) .prompt { --number-spacing: 8rem; }
.steps section:nth-child(7) .prompt { --number-spacing: 8rem; }
.steps section:nth-child(8) .prompt { --number-spacing: 8rem; }
.steps section:nth-child(9) .prompt { --number-spacing: 8rem; }

.steps section:nth-child(1) .prompt::before { content: "1"; }
.steps section:nth-child(2) .prompt::before { content: "2"; }
.steps section:nth-child(3) .prompt::before { content: "3"; }
.steps section:nth-child(4) .prompt::before { content: "4"; }
.steps section:nth-child(5) .prompt::before { content: "5"; }
.steps section:nth-child(6) .prompt::before { content: "6"; }
.steps section:nth-child(7) .prompt::before { content: "7"; }
.steps section:nth-child(8) .prompt::before { content: "8"; }
.steps section:nth-child(9) .prompt::before { content: "9"; }

span.record { 
	font-size: 0.6em;
	vertical-align: top;
}

section#live {
	padding-top: var(--section-vertical-spacing);
	padding-bottom: var(--section-vertical-spacing);
	background-color: var(--color-orange);
	
	background-image: url("../image/footer bg.svg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: auto 200px;
}

section#live footer {
	grid-row-start: 2;
	grid-column-start: column-left;
	grid-column-end: column-right;
	
	display: flex;
	justify-content: space-between;
}

section#live footer a {
	color: var(--color-text-dark);
}


/* mobile */
@media only screen and (max-width: 1720px) {
	section#hero .logo {
		margin-left: 0;
		
		grid-column-start: column-left;
		grid-column-end: column-left;
		grid-row-start: header;
		grid-row-end: header;
	}
	
	section#hero nav {
		margin-top: calc(var(--header-padding-vertical) * 2.7);
	}
	
	.steps section .prompt::before {
		display:none;
	}
	
	.steps section .prompt {
		--number-spacing: 8.2rem;
		max-width: 450px;
	}
}

@media only screen and (max-width: 1200px) {
	.steps section .prompt {
		--number-spacing: 8.2rem;
		max-width: 350px;
	}
	
	.steps h2 br {
		display:none;
	}
}

@media only screen and (max-width: 1000px) {
	:root {
		--font-body-size: 14px;
		--font-body-letter-spacing: -0.1px;
		
		--font-heading1-size: 57px;
		--font-heading1-letter-spacing: 2.15px;
		
		--font-heading2-size: 35px;
		--font-heading2-letter-spacing: 2.2px;
	}
	
	section#hero .hero-image {
		--overflow-top: -40px;
		--overflow-right: 300px;
		--overflow-left: -150px;
		grid-column-start: column-left;
		
		background-image: url("../image/staraplex logo collage hero dark.svg");
	}
	
	section#hero, .steps section, section#live {
		grid-gap: 0rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	section#hero .logo {
		max-width: 220px;
	}
	
	section#hero .text-intro, .steps section .prompt, section#live .text-outro {
		max-width: unset;
	}
	
	section#hero p {
		max-width: 305px;
	}
	
	section#hero nav {
		margin-top: calc(var(--header-padding-vertical) * 2.5);
		/* display: none; */
	}
	
	.steps h2 br {
		display:unset;
	}
	
	.steps li {
		margin-bottom: 0.5em;
	}
}

/* desktop */
@media only screen and (min-width: 601px) {
	
}

