/* fonts */
@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Black Condensed Oblique'), local('HelveticaLTStd-BlkCondObl'),
        url('../font/HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BlkCondObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Comp';
    src: local('Helvetica LT Std Compressed'), local('HelveticaLTStd-Comp'),
        url('../font/HelveticaLTStd-Comp.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Comp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Condensed'), local('HelveticaLTStd-Cond'),
        url('../font/HelveticaLTStd-Cond.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Cond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Black'), local('HelveticaLTStd-Blk'),
        url('../font/HelveticaLTStd-Blk.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Ultra Comp';
    src: local('Helvetica LT Std Ultra Compressed'), local('HelveticaLTStd-UltraComp'),
        url('../font/HelveticaLTStd-UltraComp.woff2') format('woff2'),
        url('../font/HelveticaLTStd-UltraComp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Roman'), local('HelveticaLTStd-Roman'),
        url('../font/HelveticaLTStd-Roman.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Bold Condensed Oblique'), local('HelveticaLTStd-BoldCondObl'),
        url('../font/HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BoldCondObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Bold Oblique'), local('HelveticaLTStd-BoldObl'),
        url('HelveticaLTStd-BoldObl.woff2') format('woff2'),
        url('HelveticaLTStd-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Light Oblique'), local('HelveticaLTStd-LightObl'),
        url('../font/HelveticaLTStd-LightObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Bold Condensed'), local('HelveticaLTStd-BoldCond'),
        url('../font/HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Bold'), local('HelveticaLTStd-Bold'),
        url('HelveticaLTStd-Bold.woff2') format('woff2'),
        url('HelveticaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Black Condensed'), local('HelveticaLTStd-BlkCond'),
        url('../font/HelveticaLTStd-BlkCond.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BlkCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Black Oblique'), local('HelveticaLTStd-BlkObl'),
        url('../font/HelveticaLTStd-BlkObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-BlkObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Light Condensed'), local('HelveticaLTStd-LightCond'),
        url('../font/HelveticaLTStd-LightCond.woff2') format('woff2'),
        url('../font/HelveticaLTStd-LightCond.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Oblique'), local('HelveticaLTStd-Obl'),
        url('../font/HelveticaLTStd-Obl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Condensed Oblique'), local('HelveticaLTStd-CondObl'),
        url('../font/HelveticaLTStd-CondObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-CondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Cond';
    src: local('Helvetica LT Std Light Condensed Oblique'), local('HelveticaLTStd-LightCondObl'),
        url('../font/HelveticaLTStd-LightCondObl.woff2') format('woff2'),
        url('../font/HelveticaLTStd-LightCondObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: local('Helvetica LT Std Light'), local('HelveticaLTStd-Light'),
        url('../font/HelveticaLTStd-Light.woff2') format('woff2'),
        url('../font/HelveticaLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* variables */
:root {
	--main-max-width: 800px;
	--content-top: 50px;
	--content-bottom: 50px;
	--content-sides: 33px;
	
	--color-text: black;
	--color-subtext: #AAB;
	--color-english-blue: #00247D;
	--color-georgian-red: #CF142B;
}

/* elements */
body {
	margin: 0;
	min-width: 300px;
	
	font-family: 'Helvetica LT Std', arial, sans-serif;
	font-size: 16px;
	font-variant-ligatures: none;
}

main {
	--content-top: 50px;
	--content-bottom: 50px;
	
	max-width: var(--main-max-width);
	margin: 0 auto;
	padding: var(--content-top) var(--content-sides) var(--content-bottom) var(--content-sides);
}

header {
	margin-bottom: calc(var(--content-bottom) * 1.5);
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.logo {
	width: 100%;
	max-width: 300px;
}

.button {
	padding: 0.5em 1.1em;
	border-radius: 900px;
	
	background-color: var(--color-english-blue);
	color: white;
	
	font-size: 16px;
}

a.button {
	color: white !important;
	text-decoration: none;
}

a.button:hover {
	color: white;
	background-color: #338;
}

.accessory {
	margin-left: 3em;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

.accessory .button {
	margin: 0 -0.3em;
}

.languages {
	margin: 0.5em 0;
	font-weight: 900;
	font-size: 12px;
}

a:link, a:visited {
	color: #00F;
}

a:hover {
	color: #66F;
}

.intro {
	margin-bottom: 3em;
}

a.banner {
	--color-banner-color: white;
	
	width: 100%;
	min-height: 220px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	
	padding: 20px var(--content-sides);
	margin-bottom: -1px;
	
	border: 1px solid rgba(0,0,0,0.3);
	
	background-color: var(--color-english-blue);
	/* background: linear-gradient(0deg, var(--color-english-blue) 0%, rgba(0,0,0,0) 100%); */
	color: var(--color-banner-color);
	text-decoration: none;
}

.banner + .banner {
	border-top: 1px solid rgba(255,255,255,0.5);
}

footer {
	color: var(--color-subtext);
	
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
}

p {
	line-height: 1.25em;
}

h1 {
	font-family: 'Helvetica LT Std Cond', arial, sans-serif;
	font-size: 42px;
	font-weight: 900;
	
	margin-bottom: 0;
}

h2 {
	font-family: 'Helvetica LT Std', arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.banner h1, .banner h2 {
	margin-top: 0;
}

.banner h1 + h2 {
	margin-top: 0.1rem;
	margin-bottom: 0;
}

.banner p {
	margin-top: 0.5rem;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
}

a.banner:hover {
	--color-banner-color: #BBF;
	color: var(--color-banner-color);
}

.banner .action {
	--action-time: 500ms;
	--action-bezier: cubic-bezier(0,1.01,.85,1);
	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	align-items: flex-end;
	flex-grow: 1;
}

.line-container {
	--label-margin: 1ch;
	--arrow-size: 0.4em;
	--arrow-width: 120px;
	
	--arrow-total-width: calc(var(--label-margin) + var(--arrow-size) + var(--arrow-width));
	
	display: block;
	width: var(--arrow-width);
	margin-top: 0.5rem;
	align-items: center;
	box-sizing: border-box;
}

.banner:hover .line-container {
	display: flex;
	--arrow-width: 140px;
	
	transition: width var(--action-bezier) var(--action-time);
}

.banner:hover .line-container label:first-child {
	margin: 0 var(--label-margin) 0 0;
}

.banner:hover .line-container label:last-child {
	margin: 0 0 0 var(--label-margin);
}

.line {
	flex-grow: 1;
	height: 1.2px;
	background: var(--color-banner-color);
	position: relative;
}

.line.arrow-right:after {
	display: none;
	position: absolute;
	content: '';
	bottom: -0.36em;
	right: -1px;
	width: 0;
	height: 0;
	border-top: var(--arrow-size) solid transparent;
	border-bottom: var(--arrow-size) solid transparent;
	border-left: var(--arrow-size) solid var(--color-banner-color);
}

.line.arrow-left:after {
	display: none;
	position: absolute;
	content: '';
	top: -0.36em;
	left: -1px;
	width: 0;
	height: 0;
	border-top: var(--arrow-size) solid transparent;
	border-bottom: var(--arrow-size) solid transparent;
	border-right: var(--arrow-size) solid var(--color-banner-color);
}

.banner:hover .line.arrow-right:after, .banner:hover .line-arrow-left:after {
	display: block;
}

a .line-container label {
	cursor: pointer;
}

.line-container p:first-child {
	text-indent: 0;
}

.tagline {
	display: block;
	position: relative;
	
	text-align: right;
	font-weight: 900;
	font-size: 12px;
}






.mobile {
	display: none;
}

/* mobile */
@media only screen and (max-width: 600px) {
	.mobile {
		display: initial;
	}
	
	main {
		--content-top: var(--content-sides);
	}
	
	.desktop {
		display: none;
	}
	
	.logo {
		max-width: 180px;
	}
	
	.intro {
		background-color: #F0F0F4;
		margin: calc(var(--content-bottom) * -1.05) calc(var(--content-sides) * -1) 0 calc(var(--content-sides) * -1);
		padding: 20px var(--content-sides);
		font-weight: bold;
	}
	
	a.banner {
		box-sizing: content-box;
		
		margin-left: calc(var(--content-sides) * -1);
		margin-right: calc(var(--content-sides) * -1);
		border-left: none;
		border-right: none;
		
		min-height: 350px;
	}
	
	.tagline {
		font-weight: 300;
		letter-spacing: 1px;
	}
	
	.action {
		margin-bottom: 0.3em;
	}
}

@media only screen and (max-width: 350px) {
	:root {
		--content-sides: 15px;
	}
}

/* desktop */
@media only screen and (min-width: 601px) {
	.intro {
		width: 65%;
	}
	
	.banner p {
		width: 40%;
	}
}

