/* Elements */
::selection {
    background-color: gray;
    color: white;
}

body {
	cursor: not-allowed;
}

.entrance {
	height: 100%;
	width: 100%;
	
	display: block;
	position: relative;
}

.screen {
	--logo-size-max: 500px;
	--logo-size: 80vmin;
	--logo-size-min: 100px;
	
	height: 100vh;
	width: 100%;
	min-width: 100px;
	
	display: flex;
	flex-direction: column;
}

img.logo {
	width: 100%;
	height: 100%;
	max-height: unset;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
	text-align: center;
	color: transparent;
}

.cradle {
	width: 100%;
	min-width: var(--logo-size-min);
	max-width: var(--logo-size-max);
	height: auto;
	min-height: 200px;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: -1.5em;
	padding: 2em 1em;
	
	box-sizing: border-box;
	flex-grow: 1;
}

img.logo, .cradle {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

p.legal {
	width: var(--logo-size);
	min-width: var(--logo-size-min);
	max-width: var(--logo-size-max);
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	
	box-sizing: border-box;
	text-align: center;
	
	z-index: 5;
	
	cursor: text;
}

main {
	width: 100%;
	min-width: unset;
	max-width: unset;
}

section {
	width: 100%;
	max-width: unset;
	
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	
	box-sizing: border-box;
}

.gray-box {
	--gray-box-min-height: 100vh;
	--gray-box-border-width: 1px;
	
	min-height: calc(var(--gray-box-min-height) + var(--gray-box-border-width));

	background-color: #FAFBFA;
	border-top: #EAECEA solid var(--gray-box-border-width);
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.gray-box .under-construction {
	height: 100%;
	width: 100%;
	
	display: block;
	flex-grow: 1;
}

.gray-box .under-construction marquee {
	display: block;
}

/* entrance */
@media (max-aspect-ratio: 1/1) {
	.screen {
		--logo-size: 80vmin;
		
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: column;
	}
	
	.cradle {
		min-height: var(--logo-size-min);
		flex-grow: 0;
		justify-content: center;
	}
	
	img.logo {
		height: auto;
		top: unset;
		transform: unset;
	}
	
	.extra {
		display: none;
	}
}

@media (max-height: 300px) {
	.screen {
		height: 100%;
	}
}

