/* Fonts */



/* Variables */
:root {
	--main-max-width: 800px;
	--main-vertical-margin: 50px;
	
	--root-font-family: arial, sans-serif;
	--root-font-size: 11px;
	
	--body-font-family: var(--root-font-family);
	--body-font-size: var(--root-font-size);
	
	--body-background-color: white;
	
	font-family: var(--root-font-family);
	font-size: var(--root-font-size);
}

/* Elements */
body {
	margin: 0px;
	background-color: var(body-background-color);
}

main {
	max-width: var(--main-max-width);
	margin: 0 auto;
}